:root, body, html{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html, body{ 
    min-height: 100vh;
    font-family: var(--font-body);
    font-size: 16px;
    font-weight: 500;
    background-color: var(--color-background);
    color: var(--color-text);
    display: flex;
    justify-content: center;
    align-items: center;


}
body{
    min-height: 100vh;
    max-width: 100vh;
}
main {
padding-top: 120px;
padding-bottom: 40px;
}

 a {
    text-decoration: none;
    align-self: center;
    font-weight: 700;
    color: var(--color-cool-purple-500);

}

a:hover {
    text-decoration: underline;
} 

li, ul{
    list-style-type: none;
    
}

img {
    max-width: 200px;
    height: auto;
    border-radius: 6px;
    margin: 20px;
  }

h1{
    font-size: 32px;
    margin-bottom: 20px;
    color: var( --color-cool-purple-50);
    min-width: 280px;
    width: 100%;
    word-wrap: break-word;
    text-align: center;
}

h2{
    font-size: 24px;
    margin-bottom: 14px;

}

h3{
    font-size: 20px;
    margin-bottom: 12px;
    min-width: 280px;
    width: 100%;
    padding-left:60px;
}

h4, h5{
    font-size: 18px;  
    margin-bottom: 10px;
}

h5{
    font-weight: 700;
}

button {
    padding: 10px 20px;
    font-size: 14px;
    border: 1px solid var(--color-border);
    border-radius: 6px;
    background: var(--color-cool-purple-500);
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out; 

}
button:hover{
    background: var(--color-cool-purple-700);
    transition: all 0.3s ease-in-out; ;
}

p{

    font-size: 16px;
    color: var(--color-text);
    justify-content: center;
}




