.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: #fff 1px solid
}

.logoLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    color:#6b0fff;
    font-weight: 900;
}

.logoLink h1 {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.icon{

    padding:20px;
}

.logoLink:visited {
    color: #6b0fff; /* Ensure the visited link color is the same */
}
.logoLink:hover {
    color:#fff;
}

a:hover {
    text-decoration: underline;
    color:#fff;
}

a::after, a::before {
    color:#6b0fff;
}