.catCard {
    border-bottom:var(--color-border) 1px solid;
    padding: 16px 30px;
    margin: 16px;
    display:flex;
    max-width: 300px;
    flex-direction: column;
    align-items: center;
}

.imageContainer {

    height: 200px;
    width: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .catImage {
    width: 100%;
    min-width: 200px;
    height: 100%;
    object-fit: cover;

    border-radius: 6px;
  }

p{
    margin: 6px;
}